.nav-bar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: lightgrey;
    z-index: -1
}

.screen {
    background-color: lightgrey;
    height: 100vh;
}

.scoreboard {
    display: flex;
    gap: 50px;
}

.text {
    color: white;
    margin: 0;
    font-size: 1.5rem;
}

.web-title {
    color: white;
    margin: 0;
    font-size: 2rem;
}


@media (max-width: 680px) {
    .scoreboard {
       gap: 20px;
    }
}