.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.level-text {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.playing-board-container {
    padding: 50px;
    background-color: lightgrey;
    height: 100vh;
}

.play-instruction {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}